/* VARIABLES */

@pColor: #ff0000;
@ownRed: rgb(171, 0, 0);
@ownBlack: rgb(15,15,15);

@transition-speed: 1.2s;
@slide-number: 4;

.fullProportion{
	width: 100%;
	height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Muli:600,900');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/*font-face{
	font-family: "renner";
	src: url('./../assets/fonts/renner/renner-bold-web.eot') format('eot');
	src: url('./../assets/fonts/renner/renner-bold-web.eot?#iefix') format('embedded-opentype'),
			url('./../assets/fonts/renner/renner-bold-web.woff') format('woff'),
			url('./../assets/fonts/renner/renner-bold-web.woff2') format('woff2'),
			url('./../assets/fonts/renner/renner-bold-web.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow: hidden
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: Questrial;
	font-size: 14px;
	font-weight: 400;
	color: @ownBlack;
	background-color: @ownBlack;
}

main, div.fullpage-container{
	height: 100%;
	position: relative;
}

/*---------------
BACKGROUND
---------------*/
.background{
	.fullProportion();
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	display: flex;
	flex-direction: row;
	div{
		flex: 1;
		height: 100%;
		background-color: white;
		border-left: 1pt solid rgba(0,0,0,0.1);/*
		border-right: 1pt solid rgba(0,0,0,0.1);*/
	}
	:first-child div{
		border-left-width: 0;
	};
}

/*----------------
FIXED ELEMENTS
----------------*/
.ctn-absolute{
	.fullProportion();
	position: absolute;
	top: 0;
	left: 0;
	z-index: -4;
	.logo{
		width: 100px;
		height: 100px;
		background-image: url('./../assets/svg/logo_svg.svg');
		background-repeat: contain;
	}
}

/*----------------
NAVIGATION
----------------*/

#fullpage{
	transform: translate3d(0px, -300vh, 0px);
	transition: transform @transition-speed ease-in;
}

.scroll{
	position: absolute;
	height: 100vh;
	border-right: 1px solid rgba(255,255,255, 0.2);
	top: 0;
	bottom: 0;
	right: 12vw;
	z-index: 3;
}

nav a{
	div {
		position: absolute;
		height: 25vh;
		border-right: 1px solid rgb(255,255,255);
		opacity: 0;
		bottom: 0;
		right: 12vw;
		z-index: 4;
		padding: 0 20px;
		transition: opacity 0.5s ease, border-width 0.5s ease;
	}

	div:hover {
		border-width: 4px;
		opacity: 1;
		transition: opacity 0.5s ease, border-width 0.5s ease;
	}
}

.indicator{
	opacity: 1;
	/*animation-name: changeHeight;
	animation-duration: 1s;
	animation-timing-function: ease-in;*/
}

@keyframes changeHeight {
	from{
		height: 0;
	}

	to{
		height: 25vh;
	}
}

.i0{
	bottom: 75vh;
}
.i1{
	bottom: 50vh;
}
.i2{
	bottom: 25vh;
}

.ctn-logo{
	position: absolute;
	top: 0;
	left: 0;
}

/*------------
SECTIONS
------------*/
span{
	color: @ownRed;
}

section{
	.fullProportion();
	.ctn-content{
		.fullProportion();
		position: relative;
		display: flex;
		/*justify-content: center;
		align-items: center;*/
	}
}

/* Home - Section 4 */
.s4{
	* {
		z-index: 10;
	}
	.ctn-sketch{
		position: absolute;
		overflow: hidden;
		top: 0vh;
		left: 20vw;
		/*transform: translateY(-50%);*/
		background-color: white;
		z-index: 0;
	}
	.ctn{
		width: 60%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		h1{
			font-family: Muli;
			font-size: 4.5vw;
			font-weight: 900;
			margin-left: 2vw;
		}
		h2{
			text-align: right;
			font-weight: normal;
		}
		.ctn-buttons{
			width: 20vw;
			align-self: flex-end;
			display: flex;
			position: relative;
			a{
				flex: 1;
				display: inline-block;
				height: 40px;
				font-family: Muli;
				font-weight: 900;
				font-size: 1.2em;
				border: 1px solid @ownBlack;
				text-align: center;
				text-decoration: none;
				padding: 8px 0 8px 0;
			}
			.projects{
				color: @ownBlack;
				background-color: white;
			}
			.projects:hover{
				color: white;
				background-color: transparent;
			}
			&::before{
				content: '';
				background: @ownBlack;
				position: absolute;
				top: 0;
				left: 0;
				right: 50%;
				bottom: 0;
				z-index: -2;
				transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
			}
			&:hover{
				&::before{
					left: 50%;
					right: 0;
					transition: right 0.5s ease-out;
				}
				.contact{
					color: black;
				}
			}
			.contact{
				color: #fff;
				background-color: transparent;
			}
			.contact:hover{
				color: @ownRed;
				background-color: @ownBlack;
			}
		}
	}
}


@media screen and (max-width: 600px) {
	/* Home - Section 4 */
	.s4{
		.ctn-sketch{
			left: 0vw;
		}
		h2{
			
		}
	}
}