/* VARIABLES */

@pColor: #ff0000;
@ownRed: rgb(171, 0, 0);
@ownBlack: rgb(15,15,15);

@transition-speed: 1.2s;
@slide-number: 4;

@boldtxt: 700;
@regular: 400;

.fullProportion{
	width: 100%;
	height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400i,700');
@import url('https://fonts.googleapis.com/css?family=Questrial');

font-face{
	font-family: 'renner';
	src: url('./../assets/fonts/renner/renner-bold-web.eot') format('eot');
	src: url('./../assets/fonts/renner/renner-bold-web.eot?#iefix') format('embedded-opentype'),
			url('./../assets/fonts/renner/renner-bold-web.woff') format('woff'),
			url('./../assets/fonts/renner/renner-bold-web.woff2') format('woff2'),
			url('./../assets/fonts/renner/renner-bold-web.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow: hidden
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: Questrial;
	font-size: 14px;
	font-weight: @regular;
	color: @ownBlack;
	background-color: @ownBlack;
}

main, div.fullpage-container{
	height: 100%;
	position: relative;
}

/*----------
TEXT
----------*/

p, h1, h2, h3, h4, span{
	text-rendering: geometricPrecision;
}

span{
	color: @ownRed;
}

a{
	text-decoration: none;
}

/*---------------
BACKGROUND
---------------*/
.background{
	.fullProportion();
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	display: flex;
	flex-direction: row;
	opacity: 1;
	div{
		flex: 1;
		height: 100%;
		background-color: white;
		border-left: 1pt solid rgba(0,0,0,0.1);
	}
	:first-child div{
		border-left-width: 0;
	};
}

/*----------------
FIXED ELEMENTS
----------------*/
.logo{
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 75px;
	background-image: url('./../assets/svg/logo_svg.svg');
	background-repeat: no-repeat;
	margin: 3.3vh 0 0 2.5vw;
}

.scroll-indicator{
	position: absolute;
	top: 3.3vh;
	left: 50vw;
	transform: translateX(-50%);	
}

.ctn-links{
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: rotateZ(-90deg) translate(5vh, 2.5vw); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotateZ(-90deg) translate(5vh, 2.5vw); /* IE 9 */
          transform: rotateZ(-90deg) translate(5vh, 2.5vw);
	transform-origin: left top 0;
	width: 40vh;
	display: flex;
	justify-content: space-between;
	a{
		font-family: Poppins;
		font-weight: 400;
		font-style: italic;
		color: black;
		opacity: 0.5;
		font-size: 1.1em;
		position: relative;
		transition: opacity 0.5s ease;
		&::before{
			content: '';
			height: 50%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 100%;
			background-color: @ownRed;
			z-index: -1;
			-webkit-transform: translateY(25%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
		      	-ms-transform: translateY(25%); /* IE 9 */
		          	transform: translateY(25%);
			transition: right 0.5s ease;
		}
		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
			&::before{
				right: 0;
				transition: right 0.5s ease;
			}
		}
	}
}

/*----------------
NAVIGATION
----------------*/

#fullpage{
	-webkit-transform: translate3d(0px, -300vh, 0px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
		-ms-transform: translate3d(0px, -300vh, 0px); /* IE 9 */
		  	transform: translate3d(0px, -300vh, 0px);
	transition: transform @transition-speed ease-in;
}

nav{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 34px;
	width: 20vw;
	a {
		position: absolute;
		height: 25vh;
		border-right: 1px solid @ownBlack;
		opacity: 0.2;
		bottom: 0;
		right: 0;
		z-index: 4;
		transition: opacity 0.3s ease, border-width 0.3s ease;
		color: @ownBlack;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	a:hover {
		border-width: 4px;
		opacity: 1;
		transition: opacity 0.3s ease, border-width 0.3s ease;
	}

	p{
		font-family: Poppins;
		font-weight: @boldtxt;
		font-size: 1.5em;
		line-height: 1em;
		transition: font-size 0.3s ease;
	}

	.nav-number{
		font-size: 2em;
	}

	.active{
		opacity: 1;
		border-width: 4px;
		p{
			font-size: 2.3em;
			transition: font-size 0.3s ease;
		}
		.nav-number{
			font-size: 3.5em;
		}
	}

	.i0{
		bottom: 75vh;
	}
	.i1{
		bottom: 50vh;
	}
	.i2{
		bottom: 25vh;
	}
}

.ctn-logo{
	position: absolute;
	top: 0;
	left: 0;
}

/*------------
SECTIONS
------------*/

section{
	.fullProportion();
	.ctn-content{
		.fullProportion();
		position: relative;
		display: flex;
	}
}


/* Projects - section 3*/
.s2{
	* {
		z-index: 10;
	}
	.content{
		width: 60%;
		margin: auto;
	}
	h3{
		font-family: Poppins;
		font-weight: 700;
		font-style: italic;
		font-size: 3em;
		&::before{
			content:'';
			animation: 4s infinite beforecontent;
			animation-timing-function: ease-in-out;
		}
		&::after{
			content:"_";
			color: @ownRed;
			opacity: 0;
			animation: 4s infinite trait;
		}
	}
	p{
		font-size: 1.5em;
		a{
			font-style: italic;
			color: @ownRed;
			position: relative;
			transition: color 0.2s ease;
		}
		a::before{
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 100%;
			background-color: @ownRed;
			z-index: -2;
			transition: right 0.3s ease;
		}
		a:hover{
			color: white;
			transition: color 0.2s ease;
		}
		a:hover::before{
			right: 0;
			transition: right 0.3s ease;
		}
	}
}

@keyframes beforecontent{
	0%{
		content: 'c';
	}
	2%{
		content: 'co';
	}
	4%{
		content: 'con';
	}
	6%{
		content: 'cons';
	}
	8%{
		content: 'conso';
	}
	10%{
		content: 'consol';
	}
	12%{
		content: 'console';
	}
	14%{
		content: 'console.';
	}
	16%{
		content: 'console.l';
	}
	18%{
		content: 'console.lo';
	}
	20%{
		content: 'console.log';
	}
	22%{
		content: 'console.log(';
	}
	24%{
		content: 'console.log("';
	}
	26%{
		content: 'console.log("H';
	}
	28%{
		content: 'console.log("Hi';
	}
	30%{
		content: 'console.log("Hi ';
	}
	32%{
		content: 'console.log("Hi !';
	}
	34%{
		content: 'console.log("Hi !"';
	}
	36%{
		content: 'console.log("Hi !")';
	}
	100%{
		content: 'console.log("Hi !")';	
	}
}

@keyframes trait {
	0%{
		opacity: 0;
	}
	36%{
		opacity: 0;
	}
	45%{
		opacity: 1;
	}
	55%{
		opacity: 0;
	}
	65%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	85%{
		opacity: 1;
	}
	95%{
		opacity: 0;
	}
}
/* Projects - section 3*/
.s3{
	* {
		z-index: 10;
	}
	.ctn-projects{
		width: 60vw;
		height: 64vh;
		background-color: @ownBlack;
		opacity: 1;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		position: relative;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			background-color: @ownRed;
			position: absolute;
			bottom: -20px;
			left: -20px;
			z-index: -10;
		}
		img{
			object-fit: cover;
			width: 100%;
		}
		.project{
			position: absolute;
			background-color: @ownRed;
			height: 50%;
			overflow: hidden;
			display: flex;
			transition: width 0.3s ease, height 0.3s ease;
			img{
				display: none;
				-webkit-filter: grayscale(100%) contrast(135%) brightness(70%); /* Safari 6.0 - 9.0 */
    				filter: grayscale(100%) contrast(135%) brightness(70%);
    			transition: filter 0.3s ease;
			}
			img:first-child{
				display: block;
			}
			div{
				display: none;
				z-index: 30;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				padding:  30px 20px;
				background-color: rgba(15,15,15,0.85);
				width: 100%;
				height: 100%;
				h2,h3{
					font-family: Poppins;
					font-weight: 900;
					color: white;
					font-size: 2em;
				}
				h3{
					font-weight: 400;
					font-style: italic;
					font-size: 1em;
				}
				p{
					color: white;
				}
			}
			div.infoActive{
				display: block;
			}
			&:hover{
				cursor: cell;
				img{
					-webkit-filter: grayscale(0) contrast(100%) brightness(100%); /* Safari 6.0 - 9.0 */
    					filter: grayscale(0) contrast(100%) brightness(100%);
					/*-webkit-transform: scale(1.1);*/ /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
						/*-ms-transform: scale(1.1);*/ /* IE 9 */
		  					/*transform: scale(1.1);*/
		  			transition: filter 0.3s ease;
				}
			}
		}
		.p1{
			width: 20vw;
			top: 0;
			left: 0;
			img{
				height: 100%;
			}
		}
		.p2{
			width: 40vw;
			top: 0;
			right: 0;
		}
		.p3{
			width: 60vw;
			bottom: 0;
			left: 0;
		}
		div.active{
			width: 100%;
			height: 100%;
			transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease;
			z-index: 12;
			img{
				-webkit-filter: grayscale(0) contrast(100%) brightness(100%); /* Safari 6.0 - 9.0 */
    				filter: grayscale(0) contrast(100%) brightness(100%);
			}
		}
		.ctn-buttons-slider{
			opacity: 0;
			transition: opacity 0.45s ease;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			display: none;
			justify-content: space-between;
			z-index: 20;
			-webkit-transform: translateY(50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
				-ms-transform: translateY(50%); /* IE 9 */
		  			transform: translateY(50%);
			padding: 0 30px;
			transition: color 0.15s ease;
			button{
				color: white;
				border: none;
				background-color: transparent;
				font-family: "Poppins";
				font-weight: 900;
				&:hover{
					cursor: pointer;
					color: @ownBlack;
					transition: color 0.15s ease;
				}
			}
			.ctn-lines{
				margin: auto 0;
				display: flex;
				align-items: center;
				.line{
					height: 100%;
					width: 30px;
					border-bottom: 4px solid white;
					opacity: 0.4;
					transition: opacity 0.3s ease;
					&:hover{
						opacity: 0.8;
						cursor: pointer;
						transition: opacity 0.3s ease;
					}
				}
				.line-active{
					opacity: 1;
				}
			}
		}
	}
}
/* Home - Section 4 */
.s4{
	* {
		z-index: 10;
	}
	.ctn-sketch{
		position: absolute;
		overflow: hidden;
		top: 0vh;
		left: 20vw;
		background-color: white;
		z-index: 0;
		/*shadow*/
		-moz-box-shadow: -20px 20px 0px 0px #ab0000;
		-webkit-box-shadow: -20px 20px 0px 0px #ab0000;
		-o-box-shadow: -20px 20px 0px 0px #ab0000;
		box-shadow: -20px 20px 0px 0px #ab0000;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#ab0000, Direction=224, Strength=0);
	}
	.content{
		width: 60%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		.ctn-text{
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			h1{
				font-family: 'Poppins';
				font-weight: @boldtxt;
    			font-style: normal;
				font-size: 4.7vw;
				.creative{
					color: white;
				}
			}
			h2{
				text-align: right;
				font-weight: normal;
				font-size: 2em;
			}
		}
		.ctn-buttons{
			margin: auto 0;
			width: 20vw;
			align-self: flex-end;
			display: flex;
			position: relative;
			/*transform: translateX(50%);*/
			a{
				flex: 1;
				display: inline-block;
				height: 40px;
				font-family: Poppins;
				font-weight: @boldtxt;
				font-size: 1.2em;
				border: 1px solid @ownBlack;
				text-align: center;
				text-decoration: none;
				padding: 8px 0 8px 0;
				&:hover{
					transition: color 0.5s ease;
				}
			}
			.projects{
				color: @ownBlack;
				background-color: white;
			}
			.projects:hover{
				color: white;
				background-color: transparent;
			}
			&::before{
				content: '';
				background: @ownBlack;
				position: absolute;
				top: 0;
				left: 0;
				right: 50%;
				bottom: 0;
				z-index: -2;
			}
			&:hover{
				&::before{
					left: 50%;
					right: 0;
					transition: left 0.5s ease, right 0.5s ease;
				}
				.contact{
					color: @ownBlack;
					transition: color 0.5s ease;
				}
			}
			.contact{
				color: #fff;
				background-color: transparent;
				transition: color 0.5s ease, background-color 0.5s ease;
			}
			.contact:hover{
				color: @ownRed;
				background-color: @ownBlack;
				transition: color 0.5s ease, background-color 0.5s ease;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	/* Home - Section 4 */
	.s4{
		.ctn-sketch{
			left: 0vw;
		}
		h2{
			
		}
	}
}