/* Projects - section 3*/
.s3{
	* {
		z-index: 10;
	}
	.ctn-projects{
		width: 60vw;
		height: 64vh;
		background-color: @ownBlack;
		opacity: 1;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		position: relative;
		/*shadow*/
		-moz-box-shadow: -20px 20px 0px 0px rgb(15,15,15);
		-webkit-box-shadow: -20px 20px 0px 0px rgb(15,15,15);
		-o-box-shadow: -20px 20px 0px 0px rgb(15,15,15);
		box-shadow: -20px 20px 0px 0px rgb(15,15,15);
		filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(15,15,15), Direction=224, Strength=0);
		img{
			object-fit: cover;
			width: 100%;
		}
		.project{
			position: absolute;
			background-color: @ownRed;
			height: 50%;
			overflow: hidden;
			display: flex;
			transition: width 0.3s ease, height 0.3s ease;
			img{
				display: none;
				-webkit-filter: grayscale(100%) contrast(135%) brightness(70%); /* Safari 6.0 - 9.0 */
    					filter: grayscale(100%) contrast(135%) brightness(70%);
    			transition: filter 0.3s ease;
			}
			img:first-child{
				display: block;
			}
			div{
				display: none;
				z-index: 30;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				padding:  30px 20px;
				background-color: rgba(15,15,15,0.85);
				width: 100%;
				height: 100%;
				h2,h3{
					font-family: Poppins;
					font-weight: 900;
					color: white;
					font-size: 2em;
				}
				h3{
					font-weight: 400;
					font-style: italic;
					font-size: 1em;
				}
				p{
					color: white;
				}
			}
			div.infoActive{
				display: block;
			}
			&:hover{
				cursor: cell;
				img{
					-webkit-filter: grayscale(0) contrast(100%) brightness(100%); /* Safari 6.0 - 9.0 */
    					filter: grayscale(0) contrast(100%) brightness(100%);
					/*-webkit-transform: scale(1.1);*/ /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
						/*-ms-transform: scale(1.1);*/ /* IE 9 */
		  					/*transform: scale(1.1);*/
		  			transition: filter 0.3s ease;
				}
			}
		}
		.p1{
			width: 20vw;
			top: 0;
			left: 0;
			img{
				height: 100%;
			}
		}
		.p2{
			width: 40vw;
			top: 0;
			right: 0;
		}
		.p3{
			width: 60vw;
			bottom: 0;
			left: 0;
		}
		div.active{
			width: 100%;
			height: 100%;
			transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease;
			z-index: 12;
			img{
				-webkit-filter: grayscale(0) contrast(100%) brightness(100%); /* Safari 6.0 - 9.0 */
    				filter: grayscale(0) contrast(100%) brightness(100%);
			}
		}
		.ctn-buttons-slider{
			opacity: 0;
			transition: opacity 0.45s ease;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 20px;
			display: none;
			justify-content: space-between;
			z-index: 20;
			-webkit-transform: translateY(100%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
				-ms-transform: translateY(100%); /* IE 9 */
		  			transform: translateY(100%);
			padding: 0 30px;
			transition: color 0.15s ease;
			button{
				color: white;
				border: none;
				background-color: transparent;
				font-family: "Poppins";
				font-weight: 900;
				&:hover{
					cursor: pointer;
					color: @ownRed;
					transition: color 0.15s ease;
				}
			}
			.ctn-lines{
				margin: auto 0;
				display: flex;
				align-items: center;
				height: 100%;
				.line{
					height: 100%;
					width: 30px;
					/*border-bottom: 4px solid white;*/
					position: relative;
					&::before{
						content:'';
						position: absolute;
						top: 40%;
						left: 0;
						height: 4px;
						background-color: white;
						width: 100%;
					}
					opacity: 0.2;
					transition: opacity 0.3s ease;
					&:hover{
						opacity: 0.8;
						cursor: pointer;
						transition: opacity 0.3s ease;
					}
				}
				.line-active{
					opacity: 1;
				}
			}
		}
	}
}