@media screen and (max-width: 620px) {
	/* Main */
	.background{
		div{
			display:none;
		}
	}
	.background div:first-child{
		display: inline;
	}
	.logo{
		width:15vw;
		height:15vw;
		margin: 20px;
	}
	nav{
		background-color: @ownBlack;
		margin: 2.5vh 2.5vh 0 0;
		padding: 14px;
		bottom: initial;
		z-index: 100;
		width: 15vw;
		height: 15vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		div{
			display: block;
			background-image: url("./../assets/svg/burgermenu.svg");
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			height: 15px;
			transition: transform 0.3s ease;
		}
		&:hover{
			cursor: pointer;
		}
		ul{
			display: none;
			flex-direction: column;
			li{
				border: none;
				height: auto;
				align-items: flex-end;
				margin-bottom: 25px;
				opacity: 0.5;
				a{
					flex-direction: row-reverse;
					align-items: flex-end;
					color: white;
				}
			}
			li:last-child{
				margin-bottom: O;
			}
		}
	}
	nav.active{
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 2.5vh;
		align-items: flex-end;
		justify-content: space-between;
		div{
			transform: rotateZ(90deg);
			transform-origin: center;
			margin: 14px;
		}
		ul{
			display: flex;
		}
	}
	.ctn-links{
		display: none;
	}
	.ctn-links.active{
		display: flex;
		width: 80vh;
		z-index: 150;
		padding-top: 10px;
		a{
			color:white;
			font-size: 1.3em;
		}
	}
	section{
		.content{
			width: 100%;
			padding: 0 20px;
		}
	}
	.wrapper-section-name{
		display: inline;
	}
	/* Home - Section 4 */
	.s4{
		.ctn-sketch{
			left: 0vw;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			-o-box-shadow: none;
			box-shadow: none;
			filter:progid:DXImageTransform.Microsoft.Shadow(none);
		}
		.content{
			.ctn-text{
				height: 55%;
				h1, h2{
					color: white;
					width: 100%;
					text-align: center;
					font-size: 1.8em;
				}
				h1{
					margin-bottom: 5vh;
				}
				h2{
					font-size: 1.2em;
				}
			}
			.ctn-buttons{
				width: 70vw;
				align-self: center;
				a{
					font-size: 1em;
				}
			}
		}
	}
	.s3{
		.ctn-projects{
			-moz-box-shadow: 0px 20px 0px 0px rgb(15,15,15);
			-webkit-box-shadow: 0px 20px 0px 0px rgb(15,15,15);
			-o-box-shadow: 0px 20px 0px 0px rgb(15,15,15);
			box-shadow: 0px 20px 0px 0px rgb(15,15,15);
			filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(15,15,15), Direction=224, Strength=0);
			div.active{
				img{
					object-fit: contain;
				}
				overflow: scroll;
			}
			.p1{
				width: 40%;
				img{
					height: unset;
				}
			}
			.p2{
				width: 60%;
			}
			.p3{
				width: 100%;
			}
			.ctn-buttons-slider{
				padding: 0 20px;
			}
		}
	}
	/* About me - Section 2 */
	.s2{
		h3{
			font-size: 1.2em;
		}
		p{
			font-size: 0.9em;
			line-height: 15px;
		}
	}
	.s1{
		form{
			margin: auto;
			justify-content: space-around;
			h2{
				display: none;
				margin-bottom: 15px;
			}
			h3{
				font-size: 1em;
				width: 100%;
			}
			div div{
				width: 100%;
				div{
					width: 100%;
					margin-bottom:15px;
				}
			}
			label{
				margin: 0;
				font-size: 0.9em;
			}
			input,textarea{
				width: 100%;
				font-size: 0.9em;
			}
			button{
				width: 60%;
				align-self: flex-end;
			}
		}
		form > div:nth-child(2){
			width: 100%;
			margin-bottom: 15px;
		}
	}
}